NodeRed_Files/flows.json
[{"id":"ccc96d9a.82ac2","type":"tab","label":"project","disabled":false,"info":""},{"id":"99ec179.36e61e8","type":"mqtt in","z":"ccc96d9a.82ac2","name":"","topic":"smartparking/ultrasonic","qos":"2","datatype":"auto","broker":"570c373c.63ef08","x":200,"y":120,"wires":[["381b681e.a870c8"]]},{"id":"381b681e.a870c8","type":"function","z":"ccc96d9a.82ac2","name":"distance_slot","func":"if(msg.payload <= 35) msg.payload = 2;\nelse msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["357d3de5.ac57e2"]]},{"id":"357d3de5.ac57e2","type":"http request","z":"ccc96d9a.82ac2","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://hamedhost.cloudsite.ir/BE2.php?req=wSlot&num=2&sta={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":120,"wires":[[]]},{"id":"602c5249.c4cd4c","type":"http request","z":"ccc96d9a.82ac2","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://hamedhost.cloudsite.ir/BE2.php?req=wGate&sta={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":360,"wires":[["99712b69.b5e328"]]},{"id":"50429e3a.ed11c","type":"inject","z":"ccc96d9a.82ac2","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":420,"wires":[["602c5249.c4cd4c"]]},{"id":"eba20a97.dcd8e8","type":"inject","z":"ccc96d9a.82ac2","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":460,"wires":[["602c5249.c4cd4c"]]},{"id":"9283416c.5476f","type":"mqtt in","z":"ccc96d9a.82ac2","name":"","topic":"smartparking/ultrasonic2","qos":"2","datatype":"auto","broker":"570c373c.63ef08","x":190,"y":360,"wires":[["982ba937.04e088"]]},{"id":"99712b69.b5e328","type":"mqtt out","z":"ccc96d9a.82ac2","name":"","topic":"smartparking/gate","qos":"","retain":"","broker":"570c373c.63ef08","x":950,"y":560,"wires":[]},{"id":"ff5ae92b.29b0f8","type":"inject","z":"ccc96d9a.82ac2","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":660,"wires":[["99712b69.b5e328"]]},{"id":"70db4cc6.0ba724","type":"comment","z":"ccc96d9a.82ac2","name":"gate","info":"","x":250,"y":400,"wires":[]},{"id":"4b908756.0e18c8","type":"comment","z":"ccc96d9a.82ac2","name":"slot","info":"","x":250,"y":160,"wires":[]},{"id":"982ba937.04e088","type":"function","z":"ccc96d9a.82ac2","name":"distance_gate","func":"if(msg.payload <= 35) msg.payload = 1;\nelse msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["602c5249.c4cd4c"]]},{"id":"2cb321da.ca407e","type":"inject","z":"ccc96d9a.82ac2","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":700,"wires":[["99712b69.b5e328"]]},{"id":"fb455fbd.255d3","type":"inject","z":"ccc96d9a.82ac2","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":200,"wires":[["357d3de5.ac57e2"]]},{"id":"150e81b9.c1e03e","type":"inject","z":"ccc96d9a.82ac2","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":240,"wires":[["357d3de5.ac57e2"]]},{"id":"570c373c.63ef08","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]